<!-- 目录内容 -->
<% if (!index && post.toc){ %>
    <p class="show-toc-btn" id="show-toc-btn" onclick="showToc();" style="display:block">
    <span class="btn-text">文章导航</span>
    </p>
    <div id="toc-article" class="toc-article" style="display:none">
        <span id="toc-close" class="toc-close" title="隐藏导航" onclick="showBtn();">×</span>
        <strong class="toc-title">文章目录</strong>
        <%- toc(post.content) %>
   </div>
   <script type="text/javascript">
    function showToc(){
        var toc_article = document.getElementById("toc-article");
        var show_toc_btn = document.getElementById("show-toc-btn");
        toc_article.setAttribute("style","display:block");
        show_toc_btn.setAttribute("style","display:none");
        };
    function showBtn(){
        var toc_article = document.getElementById("toc-article");
        var show_toc_btn = document.getElementById("show-toc-btn");
        toc_article.setAttribute("style","display:none");
        show_toc_btn.setAttribute("style","display:block");
        };
   </script>
<% } %>     
<!-- 目录内容结束 -->
<!-- 文章 -->
<article class="post article" onclick="showBtn();">
    <header class="text-center">
        <h3 class="post-title"><span><%= post.title %></span></h3>
    </header>
    <p class="post-meta text-center">
        <%- post.author || '曾华经' %>
		&emsp;发表于：<%- partial('post/date', { date_format: 'YYYY-MM-DD' }) %>
		&emsp;修改于：<%- partial('post/update', { date_format: 'YYYY-MM-DD' }) || partial('post/updated', { date_format: 'YYYY-MM-DD' }) %>
		&emsp;总阅读量：<span id="busuanzi_value_page_pv"><i class="fa fa-spinner"></i></span>次
    </p>
    <div class="post-content">
        <%- post.content %>
    </div>
    <p class="post-meta">
        <span class="post-cat">分类：
            <%-
            list_categories(post.categories, {
                show_count: false,
                class: 'cat',
                style: 'none',
                separator: '|'
            })
            %>
        </span>
        <span class="post-tags">
            标签：
            <%- partial('post/tag') %>
        </span>
    </p>
</article>
<!-- 分享按钮 -->
<%- partial('post/share') %>

<%- partial('post/nav', { post: post }) %>
<!-- 文章评论 -->
<%- partial('post/comment') %>